<!DOCTYPE html>
<html lang="ja">


<head>
    <meta :charset="UTF-8" content="text/html" http-equiv="content-type">

    <title><%= title %></title>
    <link type="text/css" href="./style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div role="main">
    <h1><%= title %></h1>
    <p><%= content %></p>
    <!--        <form method="POST" action="/other">-->
    <!--            <p>-->
    <!--                <input type="text" name="msg">-->
    <!--                <input type="submit" value="click">-->
    <!--            </p>-->
    <!--        </form>-->
    <p>
    <table>
        <% for (var key in data) { %>
            <%- include('data-item', {key:key, val:[data[key]]}) %>
        <% } %>

    </table>
    </p>
</div>
</body>

</html>